.App {
  text-align: center;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  height: 100%;
  width: 100%;
  position:absolute;
}

.lineas{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.intro{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  height: inherit;
}
.intro > *{
  margin-top: 10px;
}
.ticket{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 8px 8px 8px 8px;
  border-width: 1;
  border-style: solid;
  border-color: black;
}
